<template>
  <div>
    <div class="modalToEditNotes" ref="modalRef" @click.self="closeModalSelf">
      <div class="modal">
        <input
          type="text"
          v-model="title"
          maxlength="30"
          placeholder="Title (max 30 charc)"
        />
        <input
          type="text"
          v-model="description"
          placeholder="Description"
          required
        />
        <button @click="editNote">Change</button>
        <button @click="closeModalSelf">Close</button>
      </div>
    </div>
    <div class="enterFields">
      <input
        type="text"
        v-model="title"
        maxlength="30"
        placeholder="Title (max 30 charc)"
      />
      <input
        type="text"
        v-model="description"
        placeholder="Description"
        required
      />
      <button class="addBtn" @click="addNote">Add Note</button>
    </div>
    <div class="containerFields">
      <div class="tableTitles">
        <span>Title</span>
        <span>Description</span>
        <span>Actions</span>
        <span>Complete</span>
      </div>
      <div class="tableContent" v-for="note in listOfNotes" :key="note.id">
        <span>{{ note.title }}</span>
        <span class="truncate">{{ note.description }}</span>
        <div class="actionBtns">
          <button @click="openModal(note)">Edit</button>
          <button @click="deleteNote(note.id)">Delete</button>
          <button @click="showModal(note)">Show</button>
        </div>
        <div>
          <input
            class="chk"
            type="checkbox"
            v-model="note.completed"
            @click="toggleComplete(note.id)"
          />
        </div>
      </div>
    </div>
    <div class="showModal" ref="showModal" @click.self="closeModalSelf">
      <div class="showModalDescription">
        <h2>Title: {{ selectedNote ? selectedNote.title : "" }}</h2>
        <p>
          <span style="font-weight: bold; margin: 15px">Description:</span>
          {{ selectedNote ? selectedNote.description : "" }}
        </p>
        <button @click="hideModal">Close</button>
      </div>
    </div>
  </div>
</template>

<script>
import allAppMixin from "../mixins/mixins";
export default {
  mixins: [allAppMixin],
};
</script>

<style>
.modalToEditNotes {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.397);
}
.showModal {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.397);

  border: none;
}
.showModalDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  position: absolute;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  left: calc(50% - 200px);
  top: 10px;
  width: 400px;
  height: 400px;
}

.showModalDescription p {
  height: 40%;
  display: flex;
  width: 80%;
  flex-direction: column;
  overflow-y: auto;
  word-wrap: break-word;
}
.showModalDescription button {
  padding: 10px;
  border: solid gray 2px;
  border-radius: 5px;
  margin: 5px;
  width: 280px;
  height: 30px;
  padding: 10px;
  border: solid gray 2px;
  border-radius: 5px;
  margin: 5px;
  font-size: 20px;
  color: aliceblue;
  background-color: cornflowerblue;
  border: none;
  height: fit-content;
  cursor: pointer;
  margin-bottom: 25px;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  position: absolute;
  border: solid;
  left: calc(50% - 200px);
  top: 10px;
  width: 400px;
  height: 400px;
  border: none;
  border-radius: 15px;
}
.modal input {
  padding: 10px;
  border: solid gray 2px;
  border-radius: 5px;
  margin: 5px;
  width: 280px;
  height: 30px;
}
.modal button {
  padding: 10px;
  border: solid gray 2px;
  border-radius: 5px;
  margin: 5px;
  width: 280px;
  font-size: 20px;
  color: aliceblue;
  background-color: cornflowerblue;
  border: none;
}

input,
.addBtn {
  padding: 10px;
  border: solid gray 2px;
  border-radius: 5px;
  margin: 5px;
  width: 280px;
}
.chk {
  height: 20px;
  cursor: pointer;
}

.addBtn {
  font-size: 20px;
  color: aliceblue;
  background-color: cornflowerblue;
  border: none;
}

.enterFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerFields {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.tableContent,
.tableTitles {
  text-align: center;
  height: 50px;
  border-bottom: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tableTitles span {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.tableContent span {
  display: inline-block;
  width: 20%;
}

.actionBtns {
  width: 20%;
}
.actionBtns button:hover {
  background-color: green;
}

.actionBtns button {
  font-size: 16px;
  color: aliceblue;
  background-color: cornflowerblue;
  border-radius: 5px;
  border: none;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
}
.truncate {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button {
  cursor: pointer;
}
</style>
